<html>
  <head>
    <title>Quotes App</title>
  </head>
  <body>
      <div class="container">
        <div class="row">
          <div class="col align-self-center mainCol">
            <app-quote-form (addQuote)="saveQuote($event)"></app-quote-form>

            <hr/>
          </div>

        </div>

        <div class="row">
          <div class="col">
            <app-quote-list [QuoteList]="quotesArr" (upVote)="voteQuoteUp($event)" (downVote)="voteQuoteDown($event)"></app-quote-list>
          </div>

        </div>
      </div>
  </body>
</html>
